html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  body {
    margin: 0;
    background-color:  #d5dbdb;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .navbar {
    background: #008080;
    height: 50px;
    display: flex;
    padding: 0 1.5rem;
    box-shadow: 0 4px 4px #5555;
  }
  
  .navbar a {
    display: inline-grid;
    place-items: center;
    color: #ffffff;
    text-decoration: none;
    padding: 0 0.5rem;
  }
  
  .navbar a.active {
    box-shadow: inset 0 -4px 0    #73c6b6;
  }
  
  .navbar a:hover {
    color: #e4e2e2;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
  }
  
  .img-cover {
    display: block;
    width: 800px;
    height: 480px;
    margin: auto;
    object-fit: cover;
    object-position: center;
  }

  h1 {
    color:  #5d6d7e;
    text-align: center;
  }